server:
  port: 8082
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8888/eureka/

spring:
  application:
    name: hub-service
  datasource:
    url: jdbc:postgresql://localhost:5434/hub_db
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379
      username: default
      password: systempass

# 토큰 검증용 시크릿키
jwt:
  secret:
    key: ${JWT_SECRET_KEY}

logging :
  level:
    org.springframework.cloud.gateway: DEBUG

